name: '2.6$(rev:.r)'

trigger:
- main
- features/*

pr:
- main

pool:
  vmImage: 'windows-latest'

variables:
  - name: 'extensionId'
    value: 'jessehouwing-vsts-tfvc-tasks'
  - name: 'tfxVersion'
    value: 'builtin'
  - name: 'nodeVersion'
    value: '16.x'

stages:
- stage: 'Build'
  displayName: 'Build'
  jobs:
  - job: 
    displayName: 'Build'
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: $(nodeVersion)
      displayName: 'Install Node.js'

    - task: replacetokens@6
      inputs:
        root: '$(System.DefaultWorkingDirectory)'
        sources: '**\*.json'
        encoding: 'utf-8'
        missingVarLog: 'off'
        missingVarAction: none
    
    - pwsh: |
        . .\pre-build.ps1

    - task: TfxInstaller@5
      displayName: 'Use Node CLI for Azure DevOps'
      inputs:
        version: $(tfxVersion)
        checkLatest: true

    - task: PackageAzureDevOpsExtension@5
      displayName: 'Package Extension: $(Build.SourcesDirectory)'
      name: 'packageStep'
      inputs:
        rootFolder: '$(Build.SourcesDirectory)'
        outputPath: '$(Build.ArtifactStagingDirectory)\$(extensionId).vsix'
        publisherId: 'jessehouwing'
        extensionId: $(extensionId)
        extensionTag: '-build'
        extensionName: 'TFVC Build Tasks'
        extensionVersion: '$(Build.BuildNumber)'
        updateTasksVersion: true
        updateTasksVersionType: patch
        extensionVisibility: private
    
    - task: PublishPipelineArtifact@1
      displayName: 'Publish vsix'
      inputs:
        publishLocation: pipeline
        targetPath: '$(packageStep.Extension.OutputPath)'
        artifact: 'vsix'
      condition: succeededOrFailed()

- stage: PublishDev
  displayName: 'Publish privately'
  condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
  dependsOn: 'Build'
  jobs:
    - deployment: 
      environment: Publisher JesseHouwing (privately)
      strategy: 
        runOnce:
         deploy:
          steps:
          - task: NodeTool@0
            inputs:
              versionSpec: $(nodeVersion)
            displayName: 'Install Node.js'

          - task: TfxInstaller@5
            displayName: 'Use Node CLI for Azure DevOps'
            inputs:
              version: $(tfxVersion)
              checkLatest: true

          - task: PublishAzureDevOpsExtension@5
            name: 'publishDev'
            inputs:
              connectTo: 'AzureRM'
              connectedServiceNameAzureRM: azure-devops-marketplace
              fileType: 'vsix'
              vsixFile: '$(Pipeline.Workspace)/vsix/$(extensionId).vsix'
              publisherId: 'jessehouwing'
              extensionId: '$(extensionId)'
              extensionTag: 'DEV'
              updateTasksVersion: false
              extensionVisibility: 'privatepreview'
              shareWith: 'jessehouwing-dev'
              noWaitValidation: true
        
          - task: IsAzureDevOpsExtensionValid@5
            inputs:
              connectTo: 'AzureRM'
              connectedServiceNameAzureRM: azure-devops-marketplace
              method: 'vsix'
              vsixFile: '$(publishDev.Extension.OutputPath)'


          - task: PublishPipelineArtifact@1
            displayName: 'Publish vsix'
            inputs:
              publishLocation: pipeline
              targetPath: '$(publishDev.Extension.OutputPath)'
              artifact: 'dev'
            condition: succeededOrFailed()

- stage: PublishProd
  displayName: 'Publish publicly'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  dependsOn: 'PublishDev'
  jobs:
    - deployment: 
      environment: Publisher JesseHouwing (publicly)
      strategy: 
        runOnce:
         deploy:
          steps:

          - task: NodeTool@0
            inputs:
              versionSpec: $(nodeVersion)
            displayName: 'Install Node.js'
            
          - task: TfxInstaller@5
            displayName: 'Use Node CLI for Azure DevOps'
            inputs:
              version: $(tfxVersion)
              checkLatest: true

          - task: PublishAzureDevOpsExtension@5
            name: 'publishProd'
            inputs:
              connectTo: 'AzureRM'
              connectedServiceNameAzureRM: azure-devops-marketplace
              fileType: 'vsix'
              vsixFile: '$(Pipeline.Workspace)/vsix/$(extensionId).vsix'
              publisherId: 'jessehouwing'
              extensionId: $(extensionId)
              updateTasksVersion: false
              extensionVisibility: 'public'
              noWaitValidation: true
          
          - task: IsAzureDevOpsExtensionValid@5
            inputs:
              connectTo: 'AzureRM'
              connectedServiceNameAzureRM: azure-devops-marketplace
              method: 'vsix'
              vsixFile: '$(publishProd.Extension.OutputPath)'

          - task: PublishPipelineArtifact@1
            displayName: 'Publish vsix'
            inputs:
              publishLocation: pipeline
              targetPath: '$(publishProd.Extension.OutputPath)'
              artifact: 'prod'
            condition: succeededOrFailed()

          - task: GitHubRelease@1
            inputs:
              gitHubConnection: 'GitHub - jessehouwing'
              repositoryName: '$(Build.Repository.Name)'
              action: 'create'
              target: '$(Build.SourceVersion)'
              tagSource: 'userSpecifiedTag'
              tag: 'v$(Build.BuildNumber)'
              title: 'v$(Build.BuildNumber)'
              releaseNotesSource: 'inline'
              assets: |
                $(publishProd.Extension.OutputPath)*
                $(Pipeline.Workspace)/tasks/*
              changeLogCompareToRelease: 'lastFullRelease'
              changeLogType: 'issueBased'
              changeLogLabels: '[{ "state" : "closed" }]'
